<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>Movie Discovery</title>
    </head>
    <body>

        <div id="header">
            <h1>Discover new movies!!! Welcome {{session["username"]}}</h1>
            <img src="/static/tmdb.png">
        </div>   
        
        <div>
            <button id="logout">Logout here!!</button>
            <script>
                document.getElementById("logout").onclick = function () {
                    location.href="logout";
                };
            </script>            
        </div>

        <div id="movie">
            <img src={{poster}}>

            <ul>
                <li><b>{{title}}</b></li>
                <li><i>{{tagline}}</i></li>
                <li>{{genres}}</li>
                <li><a href={{url}}>Wikipedia link!</a></li>
            </ul>
        </div>

        <div id="comments">
            <div id="add_comments">
                <form action="/save" method="POST">
                    <label for="rating">A solid</label>
                    <select name="rating">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    <label for="rating">/5!</label><br>
                    
                    <textarea name ="content" placeholder="Leave a comment on what you thought about this movie!" rows="10" cols="50"></textarea>

                    <input type="submit" name="add" value="Submit!">
                </form>
            </div>

            <div id="comment_list">
                {% for comment in comments%}
                    <div class="comment">
                        <h6>{{comment.username}}</h6>
                        <p>{{comment.rating}}/5</p>
                        <p>{{comment.content}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>